body {
    font-family: Arial;
    text-align: center;
    background: #fafafa;
}

.gallery {
    margin: 30px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lightbox img {
    width: 70%;
    border-radius: 10px;
}